@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

@font-face {
    font-family: 'icones';
    src: url(./icones.ttf);
}

:root{
    --font-family: 'Montserrat', 'icones', sans-serif;
    --color1: #1b0533;
    --color2: #570530;
    --color3: #bd007e;
    --color4: #980F5A;
    --color5: #f74bc2;
    --color6: #59e7e9;
    --color7: #2a84d8;
    --color8: #2b1a76;
    --color9: #c896d5;
}

body{
    background-color: var(--color1);
    color: var(--color3);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.divCadastro{
    position: relative;
    gap: 2px;
    background-image: linear-gradient(121deg, #26074a, var(--color1));
    padding: 3em 1em 1em 1em;
    border-radius: 25px;
    box-shadow: 
    inset 2px 2px 3px 0px #751ed7c7, 
    -1px -1px 10px 0px #751ed7c7, 
    3px 3px 16px 0px #000000, 
    4px 4px 20px 0px #000000;
}

.imgCadastro{
    width: 200px;
    position: absolute;
    top: -8px;
    left: 40%;
    transform: translate(-50%, -50%);
}

.divCadastro>li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-block: 8px;
    min-height: 2em;
    min-width: 650px;
}

.divCadastro>li>label{
    font-size: 25px;
    font-weight: 400;
    background-image: linear-gradient(143deg, var(--color3), var(--color3), var(--color5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divCadastro>li>input, select, .select2-selection, .select2-dropdown {
    box-shadow: -1px -1px 10px 0px #751ed7c7, 3px 3px 16px 0px #000000, 4px 4px 20px 0px #000000;
    border-radius: 10px;
    background-color: var(--color9) !important;
    color: var(--color3);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family);
}

.select2{
    max-width: 380px;
}

.select2-selection{
    border-radius: 10px !important;
}

.select2-selection__rendered{
    color: var(--color3) !important;
}

.select2-dropdown{
    border-radius: 0 !important;
}

li:last-child{
    height: 100%;
    margin-top: 10px;
}

.btnCadastrar{
    grid-column: span 2;
    justify-self: center;
    width: 50%;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 28px !important;
    font-weight: 700 !important;
    box-shadow: 
    inset 2px 2px 3px 0px #751ed7c7, 
    -1px -1px 10px 0px #751ed7c7, 
    3px 3px 16px 0px #000000, 
    4px 4px 20px 0px #000000 !important;
    cursor: pointer;
    transition: transform .2s ease;
    border: none;
    background-image: linear-gradient(143deg, var(--color3), var(--color3), var(--color5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnCadastrar:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.es-list { max-height: 160px !important; }