@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root{
    --font-family: 'Montserrat', 'icones', sans-serif;
    --color1: #1b0533;
    --color2: #570530;
    --color3: #bd007e;
    --color4: #980F5A;
    --color5: #f74bc2;
    --color6: #59e7e9;
    --color7: #2a84d8;
    --color8: #2b1a76;
    --color9: #c896d5;
    --color-header: #8A0D59
}

body{
  background-image: linear-gradient(146deg, #ffffff, #e5e5e5);
  color: #003222;
  font-family: var(--font-family);
}

.body-dark{
  background-image: linear-gradient(112deg, var(--color1), #200042);
  transition: 2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

header{
  height: 70px;
  width: 100%;
  background-color: #14C38E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 
    -1px -1px 10px 0px #b8f1b0d9, 
    3px 3px 16px 0px #ffffff, 
    4px 4px 20px 0px #b8f1b0;
  margin-bottom: 20px;
}

.headerDark{
  height: 70px;
  width: 100%;
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 
    -1px -1px 10px 0px #d71ea7c7, 
    -2px 2px 7px 0px #890d58, 
    -4px 2px 20px 0px #2c252c !important;
  margin-bottom: 20px;
}

.d-none{
  display: none !important;
}

.divLogo{
  padding-inline: 60px
}

.imgLogo{
  width: 60px;
}

.divButtonHeader{
  padding-inline: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.divButtonHeader > a{
  font-size: 25px;
  font-weight: 400;
  color: #003222;
  text-decoration: none;
}